html,
body{
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body{
  min-width: 320px;
  @extend %advent-500;
  font-size: 20px;
  line-height: 1.2;
  background-color: #0E151D;
}

.container {
  max-width: 1205px;
  margin-left: auto;
}

.wrapper{
  display: flex;
}

.main{
  width: 1790px;
}

.aside{
  position: fixed;
  right: 0;
  background-color: #151E29;
  min-width: 130px;
  height: 100%;
  color: #fff;
}