%pretitle{
  @extend %advent-600;
  font-size: 24px;
  color: #EF8B53;
}

%title{
  @extend %josefin-700;
  margin-bottom: 30px;
  font-size: 48px;
}

%download-btn{
  cursor: pointer;
  @extend %advent-600;
  font-size: 18px;
  color: #fff;
  border: none;
  background-color: #EF8B53;
  padding: 24px 30px;
  line-height: 1;
}

%advent-500{
  font-family: 'Advent Pro', sans-serif;
  font-weight: 500;
}

%advent-600{
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
}

%josefin-600{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

%josefin-700{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}