@import "reset";
@import "global";
@import "vars";
@import "fonts";
@import "libs";

.top{
  display: flex;
  align-items: center;
  background-color: #fff;
  &__img{
    width: 960px;
    height: 1000px;
    object-fit: cover;
    margin-right: 120px;
    position: relative;
  }
  &__img-text{
    position: absolute;
    color: #fff;
    transform: rotate(-90deg);
    font-size: 150px;
    @extend %josefin-700;
    text-transform: uppercase;
    top: 182px;
    left: 155px;
    min-width: 1456px;
  }
  &__info{
    max-width: 585px;
  }
  &__info-pretitle{
    @extend %pretitle;
    margin-bottom: 20px;
  }
  &__info-title{
    @extend %josefin-700;
    font-size: 80px;
    color: #151E29;
    margin-bottom: 30px;
  }
  &__info-text{
    max-width: 560px;
    color: #546371;
    padding-bottom: 15px;
    border-bottom: 1px solid #e9e8e8;
    margin-bottom: 40px;
  }
  &__position{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }
  &__position-item{
    @extend %advent-600;
    span{
      @extend %advent-500;
      display: block;
      font-size: 16px;
      line-height: 1;
      margin-bottom: 5px;
      color: #8C9399;
    }
  }
  &__info-btn{
    @extend %download-btn;
    margin-right: 30px;
  }
  &__info-link{
    padding-left: 33px;
    color: #151E29;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      background-image: url('../images/icons/link-icon.svg');
    }
  }
}

.services{
  background-color: #0E151D;
  display: flex;
  align-items: center;
  &__img{
    margin-right: 120px;
    width: 585px;
    height: 1000px;
    object-fit: cover;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 965px;
  }
  &__item{
    padding: 0 50px 50px 0;
    max-width: 468px;
    color: #fff;
  }
  &__item-pretitle{
    @extend %pretitle;
    margin-bottom: 12px;
  }
  &__item-title{
    @extend %title;
  }
  &__item-descr{
    @extend %advent-600;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 451px;
  }
  &__item-spec{
    line-height: 1.6;
    color: #9BA3AE;
  }
  &__card{
    padding: 50px;
    max-width: 468px;
    color: #fff;
    background-image: url('../images/icons/card-bg.svg');
  }
  &__card-img{
    margin-bottom: 43px;
  }
  &__card-title{
    @extend %josefin-600;
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__card-text{
    font-size: 18px;
    color: #9BA3AE;
    line-height: 1.5;
    max-width: 368px;
  }
}

.experience{
  color: #fff;
  &__inner{
    display: flex;
  }
  &__item{
    width: 302px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &:nth-child(1),
    &:nth-child(4){
      .experience__item-num{
        color: #3BC6CF;
      }
    }
    &:nth-child(2){
      .experience__item-num{
        color: #EF8B53;;
      }
    }
    &:nth-child(3){
      .experience__item-num{
        color: #2BD195;
      }
    }
    &:nth-child(1),
    &:nth-child(3){
      background-color: #18222E;
    }
    &:nth-child(2),
    &:nth-child(4){
      background-color: #101923;
    }
  }
  &__item-num{
    @extend %josefin-700;
    font-size: 80px;
    line-height: 1;
  }
  &__content{
    padding: 120px;
    display: flex;
  }
  &__skill{
    margin-right: 80px;
    max-width: 468px;
  }
  &__skill-title{
    @extend %title;
  }
  &__skill-text{
    line-height: 1.5;
    color: #9BA3AE;
  }
  &__skill-item{
    @extend %advent-600;
    padding: 42px 0 12px;
    border-bottom: 7px solid #EF8B53;
    position: relative;
  }
  &__skill-num{
    position: absolute;
    right: 0;
    color: #9BA3AE;
  }
  &__skill-line{
    position: absolute;
    height: 7px;
    bottom: -7px;
    right: 0;
    background-color: #232629;
  }
  &__lang-title{
    margin-top: 86px;
    @extend %title;
    font-size: 30px;
    margin-bottom: 40px;
  }
  &__lang-box{
    display: flex;
  }
  &__lang-item{
    margin-right: 40px;
    text-align: center;
  }
  &__language{
    @extend %advent-600;
  }
  &__lang-descr{
    font-size: 18px;
    color: #9BA3AE;
  }
  &__info{
    max-width: 418px;
  }
  &__info-title{
    @extend %title;
  }
  &__info-item{
    padding: 0 0 30px 40px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 189px;
      left: 0;
      top: 0;
      background-image: url('../images/icons/decor-1.svg');
    }
  }
  &__info-item:not(:last-child){
    margin-bottom: 75px;
  }
  &__info-item:last-child{
    &::before{
      background-image: url('../images/icons/decor-2.svg');
    }
  }
  &__info-years{
    @extend %josefin-600;
    font-size: 24px;
    margin-bottom: 3px;
  }
  &__info-position{
    @extend %advent-600;
    margin-bottom: 15px;
  }
  &__info-text{
    font-size: 18px;
    color: #9BA3AE;
    line-height: 1.5;
  }
}

.portfolio{
  color: #fff;
  &__title{
    @extend %title;
    padding-left: 120px;
  }
  &__text{
    color: #9BA3AE;
    margin-bottom: 27px;
    padding-left: 120px;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    overflow: hidden;
    transition: all .3s;
  }
  &__item-img{
    transition: all .5s;
  }
  &__item:hover{
    .portfolio__item-img{
      transform: scale(1.2);
    }
  }
  &__item:nth-child(1),
  &__item:nth-child(4){
    width: 705px;
    height: 450px;
    .portfolio__item-img{
      width: 705px;
      height: 450px;
      object-fit: cover;
    }
  }
  &__item:nth-child(2),
  &__item:nth-child(3){
    width: 500px;
    height: 450px;
    .portfolio__item-img{
      width: 500px;
      height: 450px;
      object-fit: cover;
    }
  }
}

.letter{
  color: #fff;
  &__inner{
    padding: 120px;
    
  }
  &__box{
    width: 965px;
    height: 671px;
    padding: 80px 80px 176px 80px;
    background-image: url('../images/icons/letter-bg.svg');
  }
  &__pretitle{
    @extend %pretitle;
    margin-bottom: 20px;
  }
  &__title{
    @extend %title;
  }
  &__subtitle{
    @extend %advent-600;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 22px;
  }
  &__text{
    line-height: 1.5;
    margin-bottom: 20px;
    color: #9BA3AE;
  }
  &__signature{
    padding-top: 30px;
  }
}

.contact{
  &__inner{
    background-color: #fff;
    padding: 178px 120px;
    display: flex;
    align-items: flex-end;
  }
  &__info{
    margin-right: 60px;
    max-width: 465px;
  }
  &__info-title{
    @extend %josefin-700;
    color: #151E29;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  &__info-text{
    color: #546371;
    line-height: 1.5;
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(209, 209, 209);
  }
  &__info-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  &__info-item{
    width: 205px;
    margin-bottom: 30px;
  }
  &__info-pretitle{
    font-size: 16px;
    color: #8C9399;
    margin-bottom: 5px;
  }
  &__info-content{
    @extend %advent-600;
    color: #151E29;
  }
  &__info-socialtitle{
    @extend %josefin-600;
    color: #151E29;
    margin-bottom: 20px;
    font-size: 24px;
  }
  &__info-social{
    display: inline-block;
    text-transform: uppercase;
    @extend %advent-600;
    font-size: 16px;
    color: #546371;
    margin-right: 30px;
  }
  &__form{
    max-width: 440px;
  }
  &__form-title{
    @extend %josefin-600;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  &__form-text{
    font-size: 18px;
    color: #546371;
    margin-bottom: 30px;
  }
  &__form-input{
    width: 100%;
    height: 66px;
    padding: 25px 0 25px 30px;
    margin-bottom: 20px;
    background-color: #F3F4F5;
    color: #546371;
    border: none;
  }
  &__form-input::placeholder,
  &__form-textarea::placeholder{
    font-size: 16px;
    color: #8C9399;
  }
  &__form-textarea{
    width: 100%;
    height: 110px;
    resize: none;
    padding: 25px 0 25px 30px;
    background-color: #F3F4F5;
    color: #546371;
    border: none;
    margin-bottom: 20px;
  }
  &__form-btn{
    cursor: pointer;
    @extend %advent-600;
    font-size: 18px;
    padding: 24px 30px;
    color: #fff;
    border: none;
    background-color: #EF8B53;
  }
}

.footer{
  text-align: center;
  font-size: 18px;
  color: #8C9399;
  padding: 33px 0 36px;
}

.aside{
  &__items{
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: flex-end;
  }
  &__social-link{
    display: block;
    text-align: center;
  }
  &__list{
    @extend %advent-600;
    font-size: 16px;
  }
  &__list:not(:last-child){
    margin-bottom: 60px;
    position: relative;
    &::after{
      content: '|';
      position: absolute;
      bottom: -39px;
      left: 62px;
      color: #757575;
    }
  }
}

.menu__btn{
  cursor: pointer;
  display: block;
  margin: 50px auto 0;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.menu__btn::before,
.menu__btn::after{
  content: '';
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 3px;
  display: block;
  margin-bottom: 4px;
}

.menu__btn::after{
  margin-bottom: 0;
}

.menu__btn-line{
  width: 22px;
  height: 2px;
  border-radius: 3px;
  display: block;
  background-color: #fff;
  margin-bottom: 4px;
  margin-left: auto;
}

.menu{
  @extend %advent-600;
  position: fixed;
  top: 0;
  right: 0;;
  transform: translateX(200%);
  width: 400px;
  height: 1000px;
  background-color: #151E29;
  color: #9BA3AE;
  padding: 52px 52px 70px 80px;
  z-index: 100;
  transition: transform .5s;
  &--active{
    transform: translateX(0);
  }
  &__btn-close{
    cursor: pointer;
    margin-left: auto;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin-bottom: 40px;
    &::before,
    &::after{
      content: '';
      width: 25px;
      height: 2px;
      background-color: #fff;
      border-radius: 3px;
      display: block;
      margin-bottom: 4px;
    }
    &::before{
      transform: translateY(3px) rotate(135deg);
    }
    &::after{
      transform: translateY(-3px) rotate(-135deg);
    }
  }
  &__list{
    margin-bottom: 100px;
  }
  &__list-item:not(:last-child){
    margin-bottom: 40px;
  }
  &__list-link{
    transition: color .3s;
    &:hover{
      color: #fff;
    }
  }
  &__download-btn{
    @extend %download-btn;
    margin-bottom: 40px;
  }
  &__items{
    position: absolute;
    bottom: 94px;
    right: 61px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__social-list{
    @extend %advent-600;
    font-size: 16px;
    padding-right: 3px;
    position: relative;
  }
  &__social-list:not(:last-child){
    margin-bottom: 60px;
    &::after{
      content: '|';
      position: absolute;
      bottom: -40px;
      right: 10px;
      color: #757575;
    }
  }
  &__social-list:nth-child(3){
    padding-right: 0px;
  }
}















@import "media";